
import java.util.Scanner;

public class Palindrome {
   public static void PalindromeCheck(String name){
        name = name.toUpperCase();
        StringBuilder reverseName = new StringBuilder();
        for (int i=name.length()-1;i>=0;i--){
            reverseName.append(name.charAt(i));
        }
       if (name.equals(reverseName.toString())){
           System.out.println(name+" is a Palindrome ");
       }else {
           System.out.println(name+" is not a palindrome ");
       }
   }
    public static void main(String[] args) {
        Scanner scanner = new Scanner(System.in);
        System.out.print("Enter a String ");
        String string = scanner.next();
       PalindromeCheck(string);
    }
}
